---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductCard from "../components/ProductCard.astro";
import ProductList from "../components/ProductList.jsx";
---
<BaseLayout title="Бүтээгдэхүүн" description="Бүтээгдэхүүнүүд">
    <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold mb-6">Бүтээгдэхүүнүүд</h1>
        <p class="mb-6">Манай бүтээгдэхүүнүүдийг эндээс үзнэ үү.</p>

        <ProductList />
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <ProductCard product={{ id: 1, name: 'Бүтээгдэхүүн 1' }} />
        </div>
    </div>
</BaseLayout>