---
import BaseLayout from "../layouts/BaseLayout.astro";
import NewProducts from "../components/NewProducts.jsx";
---

<BaseLayout title="Бүтээгдэхүүн" description="Бүтээгдэхүүнүүд">
  <section class="max-w-7xl mx-auto px-6 lg:px-8 py-8">
    <div class="flex items-center justify-between mb-4">
      <h1 class="text-2xl sm:text-3xl font-bold">Бүтээгдэхүүнүүд</h1>
    </div>

    <!-- Mount React pagination component -->
    <NewProducts client:load />
  </section>
</BaseLayout>
