---
import "../styles/global.css";

import AdminSidebar from "../components/AdminSidebar.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Icons from "../components/Icons.astro";

interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="mn">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../img/titem_white.png" type="image/png" />
        {description && <meta name="description" content={description} />}
        <title>{title}</title>
    </head>
    <body
        class="bg-gradient-to-br from-gray-100 via-white to-gray-200 text-gray-700 min-h-screen"
    >
        <div class="flex flex-1">

            <AdminSidebar />

            <main class="flex-1 p-8 overflow-y-auto">
                <slot />
            </main>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
            defer></script>
    </body>
</html>
